html {
    font-size: 14px;
    color: #333333;
  }
body{
    margin:0;
}
.fast_nav{
    background-color: #f5f5f5;
    font-size: 14px;
    border-bottom: px solid #ededed;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
  }
.fast_nav> .wrapper > .nav > ul{
    text-align: center;
}
.fast_nav> .wrapper > .nav{
    float:left;
    margin-left:100px;
    color:rgb(131, 128, 128);
}
.fast_nav> .wrapper > .other{
    float:left;
    margin-left:600px;
    color:rgb(131, 128, 128);
}
.nav > ul{
    list-style: none;
    margin-top: 2px;
}
.fast_nav .nav >ul > li{
    float: left;
    width: 65px;
    text-align: center;
    line-height:3em;
}
.fast_nav .other > ul > li{
    float: left;
    width: 65px;
    text-align: center;
    line-height:3em;
}
.fast_nav .nav >ul > li:hover{
    cursor:pointer;
    color:#3b7abd;
}
.fast_nav .other > ul > li:hover{
    cursor:pointer; 
    color: #3b7abd;
}
.fast_nav> .wrapper::after {
    content:"";
    display: block;
    clear: both;
  }
.middle > .photoone > img{
    margin-left:130px;
    margin-top:20px;
}



.middle .meiti{
    float:left;
    margin-left:100px;
    width:300px;
    color:#3b7abd;
}
.middle .meiti  ul > li:hover{
    cursor:pointer;
    color:red;
}


.middle .xinwen{
    float: left;
    margin-left:70px;
    width:300px;
    color:#3b7abd;
}
.middle .xinwen ul > li:hover{
    cursor:pointer;
    color:red;
}


.middle .yugao{
    float:left;
    margin-left:100px;
    width:300px;
    color: #3b7abd;
}
.middle .yugao ul > li:hover{
    cursor:pointer;
    color:red;
}



.middle .meiti ul > li{
    border-bottom:1px solid #afafaf;
    margin:25px;
    width:200px;
    list-style:none;
    line-height:2em;
}
.middle .xinwen ul > li{
    margin:15px;
    width:280px;
    height:30px;}
.middle .yugao ul > li{
    margin:17px;
    width:200px;
}
.middle .yugao ul > li:nth-child(1){
    height:30px;
}
.middle .xinwen ul > li:nth-child(1){
    list-style: none;
    border-bottom:1px solid #afafaf;
}
.middle .yugao ul > li:nth-child(1){
    list-style: none;
    border-bottom:1px solid #afafaf;
}
span{
    margin-left:50px;
}
