html {
    font-size: 14px;
    color: #333333;
  }
body{
    margin:0;
}
.fast_nav{
    background-color: #f5f5f5;
    font-size: 14px;
    border-bottom: px solid #ededed;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
    border-bottom:2px solid #e9e9e9;
  }
.fast_nav> .wrapper::after {
    content:"";
    display: block;
    clear: both;
  }
.fast_nav> .wrapper > .nav > ul{
    text-align: center;
}
.fast_nav> .wrapper > .nav{
    float:left;
    margin-left:100px;
    color:rgb(131, 128, 128);
}
.fast_nav> .wrapper > .other{
    float:left;
    margin-left:600px;
    color:rgb(131, 128, 128);
}
.nav > ul{
    list-style: none;
    margin-top: 2px;
}
.wrapper .other a{
    font-size: 14px;
    float:left;
    margin-top:11px;
    margin-left:7px;
    text-decoration: none;
    color:rgb(131, 128, 128);
}
.wrapper .nav a:nth-child(1){
    font-size: 14px;
    margin-top:11px;
    float:left;
    text-decoration: none;
    color:rgb(131, 128, 128);
}
.wrapper .nav a:nth-child(2){
    font-size: 14px;
    margin-top:11px;
    float:left;
    text-decoration: none;
    color:rgb(131, 128, 128);
    margin-left: 20px;
}

.wrapper .other a:hover{
    color:#2c6097;
}
.other ul{
    list-style:none;
    margin-top:2px;
}
.fast_nav .nav >ul > li{
    float: left;
    width: 65px;
    text-align: center;
    line-height:3em;
}
.fast_nav .other > ul > li{
    float: left;
    width: 65px;
    text-align: center;
    line-height:3em;
}
.fast_nav .other > ul > li:hover{
    cursor:pointer; 
    color: #2c6097;
}
.fast_nav .nav a:hover{
    color: #2c6097;


}


.middle > .photoone > img{
    margin-left:130px;
    margin-top:20px;
}

.middle .messageone::after{
        content:"";
        display: block;
        clear: both;
}

.middle .meiti{
    float:left;
    margin-left:100px;
    width:300px;
    color:#2c6097;
}
.middle .meiti  ul > li:hover{
    cursor:pointer;
    color:red;
}
.middle .meiti ul a{
    margin-left:80px;
    text-decoration:none;
    color:#2c6097;
}
.middle .meiti ul a:hover{
    color:wheat;
    cursor: pointer;
}
.middle .xinwen ul a{
    margin-left:80px;
    text-decoration:none;
    color:#2c6097;
}
.middle .xinwen ul a:hover{
    color:wheat;
    cursor: pointer;
}
.middle .xinwen{
    float: left;
    margin-left:70px;
    width:300px;
    color:#2c6097;
}
.middle .xinwen ul > li:hover{
    cursor:pointer;
    color:red;
}


.middle .yugao{
    float:left;
    margin-left:100px;
    width:300px;
    color: #2c6097;
}
.middle .yugao ul > li:hover{
    cursor:pointer;
    color:red;
}



.middle .meiti ul > li{
    border-bottom:1px solid #afafaf;
    margin:25px;
    width:200px;
    list-style:none;
    line-height:2em;
}
.middle .xinwen ul > li{
    margin:15px;
    width:280px;
    height:30px;}
.middle .yugao ul > li{
    margin:17px;
    width:200px;
}
.middle .yugao ul > li:nth-child(1){
    height:30px;
}
.middle .xinwen ul > li:nth-child(1){
    list-style: none;
    border-bottom:1px solid #afafaf;
}
.middle .yugao ul > li:nth-child(1){
    list-style: none;
    border-bottom:1px solid #afafaf;
}

span{
    margin-left:55px;
}
.message .top .one{
    font-size:16px;
    color:#2c6097;
}
.messagetwo .left{
    float:left;
}
.messagetwo .right{
    float:left;
}
.messagetwo .right ul li a{
    text-decoration: none;
    color:white;
}
.messagetwo .right ul li a:hover{
    color:rgb(150, 146, 146);
    cursor: pointer;
    }
.messagetwo .bottom ul{
    float:right;
    font-size:30px;
    color:white;
    height:40px;
    width:60px;
    margin-right:40px;
    margin-bottom:20px;
}
.messagetwo .bottom li{
    text-align: center;
    background-color:#6699cc;
    list-style: none;
    width:100px;
}
.messagetwo .bottom img{
    margin-left:100px;
    margin-top:30px;
}
.messagetwo .top{
    margin-left:100px;
    border-bottom:1px solid #afafaf;
    line-height: 3em;
    width:480px;
}
.messagetwo .right {
    width:500px;
}
.messagetwo .right li{
    float:left;
    width:190px;
    margin-right:20px;
    line-height: 3em;
    margin-bottom:10px;
    text-align: center;
    color:white;
    list-style: none;
}
.messagetwo .right li:hover{
    cursor: pointer;
    color:rgb(150, 146, 146);
}
.message .right li:nth-child(2n){
    margin-right:0px;
}
.messagetwo .top .one:hover{
    color:#2c6097;
    cursor:pointer;
}
.messagetwo .top .two:hover{
    color:#2c6097;
    cursor:pointer;
}
.messagetwo .one{
    color:#999999;
}
.messagetwo .two{
    color:#999999;
}
.messagetwo .three{
    color:red;
}
.messagetwo .four{
    color:red;
}
.messagetwo .top .three:hover{
    color:rgb(168, 52, 52);
    cursor:pointer;
}
.messagetwo .top .four:hover{
    color:rgb(168, 52, 52);
    cursor:pointer;
}
.messagetwo .bottom ul:hover{
    color:lightblue;
    cursor: pointer;
}
.messagetwo .he:after{
    content:"";
  display: block;
  clear: both;
}
.messagetwo .he .bottom{
    width:700px;
}
.middle .phototwo img{
    margin-left:130px;
    margin-top:30px;
}
.last .banquan ul{
float:left;
}
.last .beihao ul{
    float:left;
}
.last .hedi:after{  
    display: block;  
    content: ""; 
    clear: both;
}
.last .banquan:after{
    display: block;  
    content: ""; 
    clear: both;
}
.last .beihao:after{
    display: block;  
    content: ""; 
    clear: both;
}
.last .hedi{
    background-color: #727272;
    height:150px;
}
.banquan ul{
    margin-left:200px;
    margin-top:30px;
}
.beihao ul{
    margin-left:200px;
    margin-top:20px;
}
.beihao ul:hover{
    cursor: pointer;
}
