body{
    margin:0px;
    padding:0px;
}
img{
    max-width: 100%;
    display:block;
}
.mean div{
    background: pink;
    color:#fff;
    float:left;
    width:110px;
    text-align: center;
    font-size: 20px;
    line-height: 60px;
    height: 60px;
    padding:0 5px;
    cursor:pointer;
}
.mean div:nth-child(1){
    margin-left:150px;
}
.mean div{
    border-right:2px solid black;
}
.mean div:nth-child(8){
    border-right:none;
}
.news div>li{
    list-style: none;
}
.box-title1{
    float:left;
    font-size:22px;
    color:#c00;
    text-indent:27px;
    margin:10px 0 10px 0; 
}
.box-title1-1{
    float:left;
    width:50px;
    margin-left:70px;
    font-size:14px;
    margin-right:0;
    margin-top:20px;
    cursor:pointer;
}
.box-title1-1:hover{
    text-decoration: underline;
}
.box-list{
    margin-left: 0px;
    color:#000;
    line-height:16px;
    float:left;
    width:279px;
    cursor:pointer;
}
 .news{
    
    margin:  0 150px;
    padding: 5px;
    width: 980px;
    height: 1200px;
  }
  .news-left{
    float:left;
    box-sizing:border-box; 
    border: 1px solid #cc0000;
    width: 300px;
    height: 610px;
  }
  .news-right{
      float:right;
      box-sizing: border-box;
      border:1px solid #cc0000;
      width:650px;
      height:610px;
  }

  .box-list>li{
    font-size: 16px;
    color: #000;
    line-height: 22px;
  }
  .box-list>li:hover{
      color:#cc0000;
  }
  .box-list>span{
    color: #999;
    text-indent: 16px;
    line-height: 32px;
    height: 32px;
    font-size: 12px;
  }
  .box-title2{
    float:left;
    font-size:22px;
    color:#c00;
    text-indent:27px;
    margin:10px;  
}
.box-title2-1{
    float:left;
    width:50px;
    margin-left:360px;
    font-size:14px;
    margin-right:0;
    margin-top:20px;
    cursor:pointer;
}
.box-title2-1:hover{
    text-decoration: underline;
}
.box-list1>li{
    float:left;
    font-size: 16px;
    color: #000;
    line-height: 22px;
    margin-top:10px;
    cursor:pointer;
  }
  .box-list1>li:hover{
      color:#cc0000;
  }
  .box-list1>span{
    float:right;
    color: #999;
    text-indent: 16px;
    line-height: 32px;
    height: 32px;
    font-size: 12px;
    margin-right:0px;
  }

img:nth-child(3){
    float:right;
}


.box-xiaoshi{
    float:left;
    font-size:22px;
    color:#c00;
    text-indent:27px;
    margin:20px 0 20px 0; 
}
.box-geng{
    float:left;
    width:50px;
    margin-left:70px;
    font-size:14px;
    margin-right:0;
    margin-top:30px;
    margin-left:800px;
    cursor:pointer;
}
.box-geng:hover{
  text-decoration: underline;  
}
.tu1>img{
    float:left;
    width:245px;
    margin-right:20px;
    margin-top:none;
}
.tu2>img{
    float:left;
    width:245px;
    margin-right:20px;
    margin-top:none;
}
.tu3>img{
    float:left;
    width:245px;
    margin-right:20px;
    margin-top:none;
}
.tu1{
    float:left;
    box-sizing: border-box;
    border:1px solid #cc0000;
    width:245px;
    height: 400px;
    margin-right:20px;
    margin-top:20px;
    
}
.tu2{
    float:left;
    box-sizing: border-box;
    border:1px solid #cc0000;
    width:245px;
    height: 400px;
    margin-right:20px;
    margin-top:20px;
}
.tu3{
    float:left;
    box-sizing: border-box;
    border:1px solid #cc0000;
    width:245px;
    height: 400px;
    margin-right:50px;
    margin-top:20px;
}
.liaojie{
    text-align: center;
    background: #cc0000;
    font-size:18px;
    color:white;
}
.liaojie:hover{
    text-decoration: underline; 
    cursor:pointer; 
  }
  .huaishi{
      float:left;
      margin-left:100px;
      margin-top:50px;
  }
  .huaishi>span{
    margin-left:35px;
  }
  .huaishi1{
      float:left;
      margin-left:10px;
      margin-top:50px;   
  }

  .huaishi1>span{
    margin-left:35px;
  }
  