/*重置样式*/
html
{
    font-size: 15px;
    color: #333333;
}
body
{
    margin: 0;
    background-color: rgba(184, 253, 106, 0.829);
}
ul,h1,h2,h3
{
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
  }
.wrapper 
{
    width: 1200px;
    margin: 0 auto;
}
.fast_nav
{
    border-top: 1.5px solid #f73f07f8;
}
.fast_nav> .wrapper::after
{
    content:"";
    display: block;
    clear: both;
}
.fast_nav
{
    background-color: #ffffff;
    height: 3em;
}
.fast_nav .logo 
{
    float: left;
    width: 100px;
    margin-left: 1px;
    cursor: pointer;
}
.fast_nav .nav >ul
{
    float: left;
    width:300px;
    margin-left: 700px;
}
.fast_nav .nav >ul >li
{
    float: left;
    width: 40px;
    text-align: center;
    line-height: 3em;
    cursor: pointer;
    margin-left: 1em;
}
.fast_nav .nav >ul >li >span:hover
{
    color: darkorange;
}
.fast_nav .other 
{
    float: right;
    line-height: 2em;
    margin-top: 0.5em;
    cursor: pointer;
}
.fast_nav .other:hover
{
    color: darkorange;
}
.fast_nav .other>span:nth-child(1) 
{
    padding: 0 10px;
    border-right: 1px solid #ededed;
}
/*主页标题*/
.mainpage
{
    list-style: none;
}

.mainpage .back >ul >div >li
{
    float: left;
    width: 100px;
    text-align:center;
    margin-top: 10px;
    margin-right: 100px;
}
.back >div >img
{
   
    margin-top: 1em;
    margin-left: 200px;
}
 .mainpage .back::after
{
    content:"";
    display: block;
    clear: both;
}
.mainpage >.ccccc
{
    background-color: #ffffff;
    height: 3em;
}
