/*重置样式*/
html
{
    font-size: 15px;
    color: #333333;
}
body
{
    margin: 0;
    background-color: rgba(136, 224, 36, 0.658);
}
ul,h1,h2,h3
{
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
  }
.wrapper 
{
    width: 1200px;
    margin: 0 auto;
}
.fast_nav
{
    border-top: 1.5px solid #f73f07f8;
}
.fast_nav> .wrapper::after
{
    content:"";
    display: block;
    clear: both;
}
.fast_nav
{
    background-color: #ffffff;
    height: 3em;
}
.fast_nav .logo 
{
    float: left;
    width: 100px;
    margin-left: 1px;
    cursor: pointer;
}
.fast_nav .nav >ul
{
    float: left;
    width:300px;
    margin-left: 700px;
}
.fast_nav .nav >ul >li
{
    float: left;
    width: 40px;
    text-align: center;
    line-height: 3em;
    cursor: pointer;
    margin-left: 1em;
}
.fast_nav .nav >ul >li:hover
{
    color: darkorange;
}
.fast_nav .other 
{
    float: right;
    line-height: 2em;
    margin-top: 0.5em;
    cursor: pointer;
}
.fast_nav .other:hover
{
    color: darkorange;
}
.fast_nav .other>span:nth-child(1) 
{
    padding: 0 10px;
    border-right: 1px solid #ededed;
}
/*主页标题*/
.mainpage
{
    list-style: none;
}

.mainpage .back >ul >div >li
{
    float: left;
    width: 100px;
    text-align:center;
    margin-top: 10px;
    margin-right: 100px;
}
.back >div >img
{
   
    margin-top: 1em;
    margin-left: 200px;
}
 .mainpage .ccccc::after
{
    content:"";
    display: block;
    clear: both;
}
.mainpage >.ccccc
{
    background-color: #ffffff;
    height: 3em;
}
.ccccc
{
    background-color: snow;
    width: 920px;
    height: 41px;
    margin-left: 200px;
}
.ccc .ccccc >ul 
{
    float: left;
    margin-left: 360px;
}
.ccc .ccccc >ul >li
{
    float: left;
    width: 200px;
    margin-top: 0.5em;
    cursor: pointer;
}
.ccc .ccccc > ul >li:hover
{
    font-weight: bolder;
}
.left .renqi::after
{
    content:"";
    display: block;
    clear: both;
}
.left .renqi
{
     margin-left: 200px;
}
.renqi div
{
    background-color: snow;
    float: left;
    width: 100px;
    height: 58px;
    margin-top: 10px;
}
.renqi div >li
{
    margin-left: 0.7em;
    font-weight: bolder;
    margin-top: 0.5em;
    text-align: center;
}
.left .zuo1::after
{
    content:"";
    display: block;
    clear: both;
}
 .left .zuo1 >div
{
    float: left;
    margin-left: 200px;
}
.left .zuo2 >div
{
    float: left;
    background-color: snow;
    width: 301px;
    height: 34px;
}
.left .zuo2 >div
{
    float: left;
    margin-left: 200px;
}
.zuo2 >div >li
{
    float: left;
    font-size: 12px;
    color: darkgrey;
    text-align: center;
    margin-left: 100px;
    margin-top: 17px;
    cursor: pointer;
}
.zuo2 >div >li:hover
{
    color: forestgreen;
}