.container{
    margin:0 auto;
}
.w980{
    width:980px;
}
body,h1,h2,h3,h4,h5,h6,ur,p,blockquote,dl,dt,dd,ul,ol,li,pre,from,fieldset,legend,button,input,textarea,table,th,tr,td,img,div{
    margin:0pt;
    padding:0pt;
    border:0;
    font-size:100%;
}
body{
    font-family:"微软雅黑"
}
body,button,input,select,textarea{
    font-size:12px;
    line-height:22px;
    color:#555555;
    font-family:"SimSun","Arial Narrow";
}
.banner{
    width:980px;
    margin-top:30px;
}
.clear{
    clear:both;
}
.menu{
    width:980px;
    height:55px;
    line-height:45px;
    background:url()no-repeat;
    font-size:14px;
    font-weight:700;
    overflow:hidden;
    margin：0auto;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    margin-top: 20px;
    font-family: "宋体";
}
.menu ul{
    float: left;
    position: relative;
    left: 50%;
    padding-top: 10px;
}
.menu #index{
    width:47px;
}
.menu li{
    width: 98px;
    height: 26px;
    line-height: 26px;
    float: left;
    position: relative;
    right: 50%;
    overflow: hidden;
    display: inline;
}
.main_body{
    display:inline;
}
.nc_nav{
    height: 38px;
    border: #e2e2e2 solid 1px;
    line-height: 36px;
    margin-bottom: 20px;
}
.nc_pos{
    width: 80px;
    padding-left: 15px;
    font-size: 16px;
}
.nc_arrow{
    width: 20px;
height: 38px;
background: url(../img/nc_arrow.png) no-repeat;
}
.cur_pos{
    height: 38px;
line-height: 38px;
color: #000;
text-align: right;
padding-right: 20px;
}
a{
    color: #333;
    text-decoration: none;
}