/* 重置样式 */
html{
    font-size: 14px;
    color: #333333;
}
body{
    margin: 0;
}
ul,h1,h2,h3{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    columns: #333333;
    text-decoration: none;
}

.wrapper{
    width: 1020px;
    margin: 0 auto;
}
/* 快捷导航 */
.fast_nav{
    background-color: #3c97d7;
    border-bottom: 4px solid #dfdfdf;
    margin-left: 0px;
    
}
.fast_nav> .wrapper::after{
    content: "";
    display:block;
    clear: both;
}
.fast_nav .nav{
    float: left;
    font-size: 14px;
    color:white;
    margin-left: 0px;
}
.fast_nav .nav >ul >li{
    float: left;
    width: 72px;
    text-align: center;
    line-height: 2.7em;
    cursor: pointer;
   
}
.fast_nav .other{
    display: block;
    float: right;
    line-height: 2.7em;
    color: white;
    width:300px;
    text-align: center;
    cursor: pointer;
}
span{
    margin: 9px;
}
#jubu a:link {
    color:white;
    text-decoration:none;
    }
#jubu a:visited {
    color:white;
    text-decoration:none;
    }
#jubu a:hover {
    color:white;
    text-decoration:underline;
    }
#jubu a:active {
    color:white;
    text-decoration:none;}
    .second_nav{
        border-bottom: 1px solid #dfdfdf;
        border-top: 1px solid #dfdfdf;
        margin-left: 227px;
        margin-right:227px;
        color:black;
}
.second_nav> .wrapper2::after{
        content: "";
        display:block;
        clear: both;
        color:black;
}
.second_nav .nav2{
        float: left;
        font-size: 12px;
        color:black;
        margin-left: 0px;
        color:black;
}
  
.second_nav .nav2 >ul >li{
        float: left;
        width: 72px;
        text-align: center;
        line-height: 2.7em;
        cursor: pointer;
        color:black;
       
}
.second_nav .other2{
        display: block;
        float: right;
        line-height: 2.7em;
        color: black;
        width:300px;
        text-align: center;
        cursor: pointer;
        color:black;
}
 

#jubu2 a:link {
    color:black;
    text-decoration:none;
}
#jubu2 a:visited {
    color:black;
    text-decoration:none;
}
#jubu2 a:hover {
    color:black;
    text-decoration:underline;
}
#jubu2 a:active {
    color:black;
    text-decoration:none;
}

.biaoti{
    margin-left: 235px;
    font-weight: 400;
    font-size: 25px;
    height: 90px;
    line-height: 90px;
}

.zhengwen{
    margin-left:300px;
}
.zhengwen2{
    font-weight: 550;
}

.header{
    border-top: #D7D7D7 dashed 1px;
margin-top: 0px;
line-height: 35px;
height: 35px;
border-bottom: #D7D7D7 dashed 1px;
position: relative;
margin-left: 227px;
}
.header > div{
    height:20px;
}

.header > div.left{
    float: left;
    width:400px;
}
.header > div.right{
    margin-left:300px;
}
.erweima{
    position:absolute; left:400px;  
}
.w_info{
    font-size: 12px;
    margin-right:500px;
    height:300px;
}
.guanjianci{
    margin-left:227px;
    background-color: #d0f2f4;
    margin-right:0px;
    height:50px;
    text-align: center;
    line-height: 50px;
}

.redian{
    height: 100px;
}
.mb_right {
    width: 314px;
}
.slide_box {
    border-top: #DFDFDF solid 1px;
    position: relative;
    padding-bottom: 5px;
    padding-left: 20px;
}
.slide_title {
    font-size: 18px;
    color: #f00;
    position: relative;
    padding-bottom: 5px;
    margin-top: 15px;
}
.main_body {
    display: inline;
}
.mb_left {
    width: 880px;
    border-right: #e6e6e6 solid 1px;
    height: 1200px;
    padding-right: 25px;
}
.fl {
    float: left;
}

#jubu3 a:link {
    color:#e4e4e4;
    text-decoration:none;
}
#jubu3 a:visited {
    color:#e4e4e4;
    text-decoration:none;
}
#jubu3 a:hover {
    color:#e4e4e4;
    text-decoration:underline;
}
#jubu3 a:active {
    color:#e4e4e4;
    text-decoration:none;
}
.slide_box #li_txt {
    margin-top: 4px;
}
.slide_box dd {
    height: 78px;
    overflow: hidden;
    line-height: 20px;
}
.clear {
    clear: both;
}
.re_link {
    border-top: #e4e4e4 solid 1px;
    border-bottom: #e4e4e4 solid 1px;
    padding-top: 8px;
    padding-bottom: 8px；
}
.re_link a {
    color: #999;
    margin-right: 15px;
    white-space: nowrap;
}
.slide_box li {
    font-size: 14px;
    line-height: 30px;
    text-indent: 9px;
    overflow: hidden;
    white-space: nowrap;
    width: 280px;
}
ul, ol, li, dl, dt, dd {
    list-style: outside none;
}
.bottom{
    background-color: #f0f0f0;
}
.copyright {
    text-align: center;
    margin-top: 25px;
}
.bottom{
    height:100px;
    text-align: center;
    line-height: 100px;
    width:100%;
}
.gz_list {
    margin-top: 5px;
}
.re_link {
    border-top: #e4e4e4 solid 1px;
    border-bottom: #e4e4e4 solid 1px;
    padding-top: 8px;
    padding-bottom: 8px;
}