body{
    background-color:white;
    margin: 0px ;
}
.content{
    margin:0px  200px;
}
.d1{
  margin:0px  -130px;
}

.f1{
    font-size:12px;
    margin: 0px 200px ;
    }
.fr{
     float: right;
     margin: 0px 200px;
    font-size: 12px;
        }
.banner{
    margin:0px 200px
}
.clear{
    margin:0px 200px;
}
  .clear .menu >ul > li{
    float: left;
    width: 50px;
    text-align: center;
    line-height: 3em;
    cursor: pointer;
  }
  